
.custom-menu-txt{
  font-size: 20px;
}
.custom-black {
background-color: rgb(252, 167, 232);
color: #c79797 !important; /* o background-color según el contexto */

}
#ficha{
  height: 150px;
}

.texto_sub_menu {
position: relative;
z-index: 1;
color: white;
text-align: center;
padding-top: 65%;
font-size: 20px;
text-shadow: 2px 2px 3px black;
opacity: 0;
transition: opacity 0.3s ease;
}

.img_sub_menu{
margin: 0px;

height:900px ;
color: #ebebeb;
text-align: center;
padding-top: 78%;
text-shadow: 2px 2px 3px black;
font-size: large;

}
#img_sub_menu_1{
background-color: #365B2D;
background-image: url("../assets/img/nJ4EFJyO_o.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 800px;
display: flexbox;
}


#img_sub_menu_2{
background-color: #365B2D;
background-image: url("../assets/img/2a300371-2a70-45b2-9373-db6ada3f6d1f.499645feb9345eecc6265cc23b072b56.webp");
background-repeat: no-repeat;
background-size: cover;
height: 800px;
}
#img_sub_menu_3{
background-color: #365B2D;
background-image: url("../assets/img/items_1840633_826243_0_20180628140915_b.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 800px;
}
.hover-effect {
position: relative;
overflow: hidden;
}

.hover-effect::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0); /* Sin opacidad inicialmente */
transition: background-color 0.3s ease;
border-bottom: #218838;
}

.hover-effect:hover::before {
background-color: rgba(0, 0, 0, 0.7); /* Opacidad de color negro al hacer hover */
}

.texto_sub_menu {
position: relative;
z-index: 1; /* Para que el texto esté por encima de la capa negra */
color: white; /* Para que el texto sea visible sobre el fondo oscuro */
text-align:  center;
padding-top: 65%;
font-size: 20px;
text-shadow: 2px 2px 3px black;
opacity: 0; /* Oculta el texto inicialmente */
transition: opacity 0.3s ease; /* Suaviza la aparición del texto */
}
.hover-effect:hover .texto_sub_menu {
opacity: 1; /* El texto aparece al hacer hover */
}
.hover-effect:hover .btn_estilo {
opacity: 1; /* El texto aparece al hacer hover */
}

.custom-card {
    width: 250px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
    border: 1px solid #007bff; /* Borde azul de 2px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras opcionales */
    
}
.custom-card img {
    max-height: 300px; /* Limitar la altura de la imagen */
    object-fit: cover; /* Recortar la imagen si es necesario */
}


.btn_estilo{
  background-color: pink;
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

.carousel-img {
  width: 100%; /* Cambia el tamaño al 50% del contenedor */
  height: 100%; /* Mantén la proporción de la imagen */
  margin: auto; /* Centra la imagen horizontalmente */
}
.carousel-item {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;    /* Centrar verticalmente */
}
